<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--pragovi za detekciju-->
    <add key="Ud_threshold" value="5"/>
    <add key="Uq_threshold" value="5"/>
    <add key="Speed_threshold" value="200"/>
    <add key="DeviationPercent" value="25"/>

    <!--putanja za storage-->
    <add key="storagePath" value="Measurements"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="Service.MotorMonitoringService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4000"/>
          </baseAddresses>
        </host>
        <endpoint
          address="MotorMonitoring"
          binding="netTcpBinding"
          bindingConfiguration="streamBinding"
          contract="Common.IMotorMonitoringService"/>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <!--veliki buffer-->
        <binding name="streamBinding"
                 transferMode="Buffered"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 openTimeout="00:01:00"
                 closeTimeout="00:01:00">
          <readerQuotas maxArrayLength="2147483647"
                        maxStringContentLength="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
