<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- Putanja do CSV fajla (skinuti dataset sa Kaggle-a) -->
    <add key="csvPath" value="measures_v2.csv"/>
    <add key="rejectsLog" value="rejects.log"/>
    <add key="maxRows" value="115"/>
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint name="MotorMonitoringEndpoint"
                address="net.tcp://localhost:4000/MotorMonitoring"
                binding="netTcpBinding"
                bindingConfiguration="defaultBinding"
                contract="Common.IMotorMonitoringService"/>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="defaultBinding"
                 transferMode="Buffered"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 openTimeout="00:01:00"
                 closeTimeout="00:01:00">
          <readerQuotas maxArrayLength="2147483647"
                        maxStringContentLength="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
